// @import '~vue-fs-commons/app/assets/scss/frama/colors';

$ombre: 0px 3px 4px rgba(50, 50, 50, 0.2);
$img-ombre: 0px 2px 6px rgba(50, 50, 50, 0.4);
$carousel-ombre: 0px 3px 3px rgba(50, 50, 50, 0.5);
$button-ombre: 0px 1px 1px rgba(50, 50, 50, 0.5);

$frama:         #725794 !default;
$soft:          #cc4e13;

/* Mobilizon colors
  ~~@mcgodwin, 2020-03-06

  Primary
  Hue 35
*/
$p1: #FFF1DE; /* background */
$p2: #FFD599; /* background */
$p3: #FEA72B; /* accent, flat */
$p4: #ED8D07; /* text, underline */

/*
  Secondary
  Hue 245-248
*/
$s1: #E6E4F4; /* background, accent (main) */
$s2: #CDCAEA; /* background, accent */
$s3: #757199; /* text */
$s4: #3C376E; /* title, border, button */
$s5: #474467; /* text */
$s6: #3A384C; /* text */

/*
  Dark / Light
*/
$d1: #ECEBF2; /* background, flat */
$d2: #D7D6DE; /* border */

/*
  Orange
  Hue 12-13
*/
$o1: #FBD5CB; /* background, flat */
$o2: #D35204; /* breadcrumb, accent */

/*
  Blue
  Hue 189-193
*/
$b1: #17A3BB; /* hover */
$b2: #1E7D97; /* button, accent */

/*
  Red = Alert
  Hue 349
*/
$r1: #FF2E54; /* background, flat */
$r2: #E8284A; /* text */
/*
  Green = OK
  Hue 157-163
*/
$g1: #23B087; /* hover */
$g2: #0D8758; /* text */

/* Frameworks */
$primary:   $p2 !default;
$secondary: $s5 !default;

$danger:    $r1;
$info:      $b1; /* ? #36bcd4 on Mobilizon */
$success:   $g2;
$warning:   $o2; /* ? #ffdd57 on Mobilizon */
@import 'frameworks/bootstrap4';

/* Fonts */
@import 'fonts/dejavu-sans';
@import 'fonts/roboto';

@import 'mobilizon';
