<template>
  <div>
    <main>
      <section id="prez">
        <b-container class="mt-sm-4 py-3">
          <b-row>
            <b-col class="text-right m-sm-0 mr-3 mt-3">
              <I18n />
            </b-col>
          </b-row>
          <b-row class="mx-0">
            <b-col
              class="mx-auto text-center"
              lg="8"
            >
              <h1 class="mb-3">
                <img
                  alt="Mobilizon"
                  height="45"
                  :src="`${$t('baseurl')}img/logo-mbz-purple.svg`"
                />
              </h1>
              <h2>
                <span
                  v-for="(tag, index) in $t('home.intro.tags')"
                  :key="index"
                >
                  {{ tag }}
                  <span v-if="index < $t('home.intro.tags').length - 1"> ⋅ </span>
                </span>
              </h2>
              <img
                alt=""
                class="my-4"
                :src="`${$t('baseurl')}img/rose.jpg`"
              />
              <b-alert
                show
                variant="info text-left"
                v-html="$t('warning')"
              />
            </b-col>
          </b-row>
          <b-row class="mx-0">
            <b-col
              lg="8"
              class="mx-auto"
            >
              <div
                id="jmz"
                v-html="$t('newvisitor.jmz', $t(`link.${$t('lang').replace(!/^fr$/, 'en')}`))"
              ></div>
              <div
                id="demo"
                v-html="$t('newvisitor.demo')"
              ></div>

              <img
                alt=""
                class="d-block mx-auto my-4"
                :src="`${$t('baseurl')}img/fennetoile2.jpg`"
              />

              <div v-html="$t('newuser.title')"></div>

              <b-row class="mx-0">
                <b-col
                  class="alert alert-primary mt-3"
                  lg="5"
                  xl="4"
                  order-lg="2"
                >
                  <b-badge
                    variant="primary d-block py-1 mb-2"
                    v-html="`${$t('newuser.badge')}`"
                  />
                  <div
                    style="font-size: .93rem;"
                    v-html="$t('newuser.definition')"
                  ></div>
                </b-col>
                <b-col
                  class="pl-0"
                  lg="7"
                  xl="8"
                  order-lg="1"
                >
                  <div
                    id="selection"
                    v-html="$t('newuser.selection')"
                  ></div>
                </b-col>
              </b-row>

              <table class="table table-striped table-hover mt-4">
                <thead class="thead-light">
                  <tr>
                    <th
                      scope="col"
                      v-html="$t('column.country')"
                    ></th>
                    <th
                      scope="col"
                      v-html="$t('column.name')"
                    ></th>
                    <th
                      scope="col"
                      v-html="$t('column.hoster')"
                    ></th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="(instance, index) in $t('selection')"
                    :key="index"
                  >
                    <td>
                      <span
                        :title="$te(`country.${instance[0]}`)
                          ? $t(`country.${instance[0]}`)
                          : ''"
                        v-html="$te(`flag.${instance[0]}`)
                          ? $t(`flag.${instance[0]}`)
                          : '❓'"
                      ></span>
                    </td>
                    <td>
                      <a :href="instance[2]">
                        <b
                          class="text-info"
                          v-html="instance[1]"
                        ></b>
                      </a>
                      <a
                        :href="`${instance[2]}/about/instance`"
                        style="background: transparent !important"
                        :title="$t('column.about')"
                      >
                        <svg-icon
                          :label="$t('column.about')"
                          name="info-circle"
                          size="xs"
                          sr-only
                        />
                      </a>
                    </td>
                    <td>
                      <b
                        class="text-info"
                        v-html="instance[3]"
                      ></b>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div
                id="instances"
                v-html="$t('newuser.instances')"
              ></div>

              <img
                alt=""
                class="d-block mx-auto my-4"
                :src="`${$t('baseurl')}img/fennetoile1.jpg`"
              />

              <div
                id="help"
                v-html="$t('help.title')"
              ></div>

              <b-row class="mx-0 my-2">
                <b-col
                  class="list-group my-2"
                  md="6"
                >
                  <a
                    class="list-group-item"
                    :href="`${$t('link.jmz')}/faq`"
                  >
                    <svg-icon
                      :name="$t('svg.faq')"
                      size="lg"
                      variant="disc p-0 mt-1 mr-3 mb-4 float-left"
                    />
                    <span v-html="$t('help.faq')"></span>
                  </a>
                </b-col>
                <b-col
                  class="list-group my-2"
                  md="6"
                >
                  <a
                    class="list-group-item"
                    :href="$t('link.jmz-docs')"
                  >
                    <svg-icon
                      :name="$t('svg.doc')"
                      size="lg"
                      variant="disc p-0 mt-1 mr-3 mb-4 float-left"
                    />
                    <span v-html="$t('help.docs')"></span>
                  </a>
                </b-col>
                <b-col
                  class="list-group my-2"
                  md="6"
                >
                  <a
                    class="list-group-item"
                    :href="$t('link.contact')"
                  >
                    <svg-icon
                      :name="$t('svg.contact')"
                      size="lg"
                      variant="disc p-0 mt-1 mr-3 mb-4 float-left"
                    />
                    <span v-html="$t('help.contact')"></span>
                  </a>
                </b-col>
                <b-col
                  class="list-group my-2"
                  md="6"
                >
                  <a
                    class="list-group-item"
                    :href="$t(`link.${$t('lang').replace(!/^fr$/, 'en')}.forum`)"
                  >
                    <svg-icon
                      :name="$t('svg.colibri')"
                      size="lg"
                      variant="disc p-0 mt-1 mr-3 mb-4 float-left"
                    />
                    <span v-html="$t('help.forum')"></span>
                  </a>
                </b-col>
              </b-row>

              <img
                alt=""
                class="d-block mx-auto my-4"
                :src="`${$t('baseurl')}img/fennetoile3.jpg`"
              />

              <div
                id="frama"
                v-html="$t('frama', $t(`link.${$t('lang').replace(!/^fr$/, 'en')}`))"
              ></div>
            </b-col>
          </b-row>
        </b-container>
      </section>
    </main>
  </div>
</template>

<script>
import I18n from '../partials/I18n.vue';

export default {
  components: {
    I18n,
  },
};
</script>
